<form method='POST' action='/list/store'>
  <div class="mb-3 mt-3">
    <label for="exampleInputEmail1" class="form-label">Tên bài hát</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nhập mã nhúng của
      video trên ytb</label>
    <input
      type="text"
      name="videoId"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nhập mô tả cho video</label>
    <input
      type="text"
      name="descript"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nhập địa chỉ hình ảnh
      vào đây</label>
    <input
      type="text"
      name="image"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>