<div class="mt-4">
  <div class="row">

    <div class="col-lg-9">
      <h2>Tên Bài hát : {{course.name}}</h2>
      <iframe
        width="1424"
        height="519"
        src="{{course.videoId}}"
        title="Khi Em Lớn - Orange ft. Hoàng Dũng「Lo - Fi Version by 1 9 6 7」/ Audio Lyrics"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>{{course.descript}}</p>
    </div>
  </div>
</div>

