<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse container-fluid navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav container-fluid justify-content-between mb-2 mb-lg-0"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ của
            Web</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/list/create"
          >Thêm một bài hát</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/me">Danh sách nhạc của tôi</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Đăng nhập</a>
        </li>

      </ul>

    </div>
  </div>
</nav>